.app-header {
  background-color: #333;  /* Цвет фона для лучшей видимости */
  color: #fff;
  width: 100%;  /* Хедер должен занимать всю ширину */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);  /* Небольшая тень для визуального выделения */
}
