<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css/normalize.css">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kuzushiji App</title>
  <link rel="stylesheet" href='./landing-page.component.css'>
</head>
<body>
<div class="container">
  <h1>Welcome to the Kuzushiji Translator!</h1>
  <p>Click the button below to start translating Kuzushiji into modern Japanese using images.</p>
  <button onclick="window.location.href='/test';">Get Started</button>
</div>
</body>
</html>